<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <title>Temperature/Humidity Application Management Zealand</title>

</head>

<body>

    <div id="app">

        <!-- GET ALL With Sort-->
   
        <button id="getAllButton" v-on:click="getAllTemperatures" class="btn btn-primary">Get all Temperatures</button>
        
        <br />

            <table v-if="temperatures.length" class="table table-striped">
            <tr v-for="temp in temperatures">
                <!-- <td> Id: {{ath.id}} </td> -->
                <td> Temperature: {{temp.temperature}} </td>
                <td> Humidity: {{temp.humidity}} </td>
                <td> RoomId: {{temp.roomId}} </td>
                <td> Date: {{temp.date}} </td>
            </tr>
        </table>
        <div v-else>No Temperature found!</div> 
        <br />

   
          <!-- THIRDPARTY GET ALL With Sort-->

        <button id="getAllButton" v-on:click="getAllWeathers" class="btn btn-primary">Get all Weathers</button>
        <br />

            <table v-if="dataseries.length" class="table table-striped">
            <tr v-for="data in dataseries">
                <td> Temperature: {{data.temp2m}} </td>
                <td> Weather: {{data.weather}} </td>
                <td> Date: {{data.date}}</td>
                <td> Wind: {{data.wind10m_max}}</td>
        
                
            </tr>
        </table>
        <div v-else>No weathers found!</div> 
        <br />

  

        <script src="js/index.js"></script>
</body>
</html>